<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <!--supported on Windows 10 version 1903 or later, x64 only-->
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    
    <add key="XPos" value="10"/>
    <add key="YPos" value="100"/>
    <add key="Width" value="20"/>
    <add key="Height" value="600"/>

    <!--
    DirectInput/HID axis to visualize.
    
    Format: "{hidProductId},{hidVendorId},{hidAxisId}"
        hidProductId: 4-digit hex identifier of DirectInput/HID device
        hidVendorId: 4-digit hex identifier of DirectInput/HID device manufacturer
        hidAxisId: "usage code" index of HID axis, on above device (typical: 54 for the "slider")
        
    Example, for Thrustmaster T.16000M:
        value="B10A,044F,54"
        
    Example, for VKB Gladiator NXT:
        value="0200,231D,50"
    -->
    <add key="ThrottleAxis" value="B10A,044F,54"/>
    <add key="ThrottleAxisReversed" value="true"/>
    
  </appSettings>

</configuration>